<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-10T19:07:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kamryy/Desktop/my-projects/MP_Club/mpc_admin_app/macos/Runner.xcworkspace</string>
</dict>
</plist>
